@import "tailwindcss";

/* Configurações de cores para o tema claro */
:root {
  --background: #f8fafc; /* Slate 50 */
  --foreground: #0f172a; /* Slate 900 */
}

/* O segredo: Em vez de @media, usamos a classe .dark */
/* Isso faz o Tailwind entender quando o botão é clicado */
.dark {
  --background: #020617; /* Slate 950 */
  --foreground: #f8fafc; /* Slate 50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  
  /* Adicionando as variações de azul para facilitar o uso */
  --color-primary: #2563eb;
  --color-primary-dark: #60a5fa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Usa a variável da fonte Poppins que configuramos no layout */
  font-family: var(--font-poppins), ui-sans-serif, system-ui;
  @apply transition-colors duration-500;
}

@layer utilities {
  .animate-marquee {
    display: flex;
    animation: marquee 20s linear infinite;
  }

  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
}

@keyframes music {
  0%, 100% { height: 4px; }
  50% { height: 16px; }
}